/Exercício 5/JavaApplication7/build/
/Exercício 5/JavaApplication7/dist/
/Exercício 5/JavaApplication7/nbproject/private/
/Exercício 5/build/
/Exercício 5/dist/
/Exercício 5/nbproject/private/
/Exercício 5/Client/build/
/Exercício 5/Client/dist/
/Exercício 5/Client/nbproject/private/
/Exercício 5/Server/build/
/Exercício 5/Server/nbproject/private/
/2º Bimestre/Testes Calculadora/nbproject/private/
/2º Bimestre/Testes Calculadora/build/